@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap);
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Playfair+Display&family=Roboto+Slab:wght@700&family=Source+Sans+Pro:wght@300&family=Ubuntu:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header  {
    width: 1280px ;
    height: 720px ;
    background:   linear-gradient(180deg, rgba(255, 165, 241, 1) 0%,
        rgba(107, 193, 255, 0.27)100%);
    margin-inline: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    text-shadow: 8px 8px 10px rgba(71, 69, 69, 0.28);
    font-size: 60px;
    font-family: 'Roboto Slab';
    margin-left: 85px;
    margin-top: px ;
    letter-spacing: 0.03em;
}
.text:nth-child(2){
    font-size: 50px;

}
ul.menu {
    position: relative;
    width: 963px;
    height: 86px;
    border-radius: 50px;
    background: white;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center ;
    margin-top: 74px;
    box-shadow: 8px 10px 42px rgba(0, 0, 0, 0.42);
}

ul.menu .menu-item {
    font-family: Roboto;
    z-index: 2;
    font-weight: 500;
    font-size: 29px;
    color: rgba(105, 104, 104, 1);
    
}
ul.menu .top-bg {
    position: absolute;
    z-index: 1;
    background: rgba(220, 220, 220, 1);
    margin-top: -41px;
    height: 51px;
    width: 966px;
    border-radius: 43px  43px 3px 3px ;
}
.menu-item:nth-child(2){
    position: relative;4
    color: black;
    border-bottom: solid 3px rgb(0, 0, 0);
}
.menu-item:nth-child(2):hover::after  {
    content: "";
    position: absolute;
    border-bottom: dashed 3px rgb(252, 136, 248);
    width: 100%;
    top: 100%;
    left: 0;
 
}
.menu-item:nth-child(3){
    position: relative;
    border-bottom: solid 3px rgb(117, 204, 251);
    
}

.menu-item:nth-child(3):hover::after {
    content: "";
    position: absolute;
    width: 100%;
    top: 80%;
    left: 0;
	border-bottom: solid 3px rgb(249, 125, 228); 
    transform: translateX(-5px);
}
.menu-item:nth-child(4) {
	text-decoration: underline rgb(240, 131, 255);
}
.menu-item:nth-child(4):hover {
	text-decoration: underline rgb(117, 204, 251);
}
.menu-item:nth-child(5){
    position: relative;
    border-bottom: solid 3px rgb(117, 204, 251);
    
}

.menu-item:nth-child(5):hover::after {
    content: "";
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
	border-bottom: solid 3px rgb(249, 125, 228);
    
    transform: scale(1.2);
}

.menu-item:nth-child(6){
    position: relative;
}
.menu-item:nth-child(6):hover::before {
    content: "";
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    height: 3px;
    border-radius: 5px;
    background: linear-gradient(111.3deg, #9c27b0 9.6%, #00bcd4 93.6%);
   }